extends default

block content    
  h2 #{sub_topic}
  ul
    li      
      a(href=data_a) 
        img(src="rectangular.jpg", alt="Rectangular grid")
        span Rectangular
    li 
      a(href=data_b) 
        img(src="radial.jpg", alt="Radial grid")
        span Radial
    li 
      a(href=data_c) 
        img(src="organic.jpg", alt="Organic grid")
        span Organic