extends default

block content    
  h2 #{sub_topic}
  ul
    li      
      a(href=data_a) 
        img(src="grid-iron.jpg", alt="Grid Iron grid")
        span Grid Iron
    li 
      a(href=data_b) 
        img(src="ring-radial.jpg", alt="Ring Radial grid")
        span Ring Radial
    li 
      a(href=data_c) 
        img(src="organic.jpg", alt="Organic grid")
        span Organic