extends default.pug

block content
  ul
    li 
      a(href="./average-duration") 
        img(src="duration.jpg" alt="Average duration logo")
        span Average Duration

    li 
      a(href="./number-of-fixations") 
        img(src="fixations.jpg" alt="Number of fixation")
        span Number of Fixations
    li 
      a(href="./number-of-visits") 
        img(src="visits.jpg" alt="Number of visits")
        span Number of Visits