@import default

h2
  text-align: center;
  color: #242424;
  font-family: 'Playfair Display', serif;
  margin-bottom: 6px;
  font-size: 28px;

h3
  text-align: center;
  margin-top: 6px;
  margin-bottom: 24px;

canvas
  display: block;
  margin: auto;

input
  display: block;
  margin: auto;